{% extends "charts/common.html" %}
{% load static %}

<html>

{% block content %}

<div >
    <div class="section">
        <h3>Request Statistics</h3>
    </div>

    <div class="row">

        <div class="card medium col s12 m6 l3" style="background-color:#e8eaf6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'images/card1.jpeg' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Web History<i class="material-icons right">more_vert</i></span>

                <p><a class="waves-effect waves-light btn" href="{% url 'chart-history' %}" style="background-color:#083A99">See More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Web History<i class="material-icons right">close</i></span>
                <p>See what all web activities were you invloved in and for how much long!!</p>
            </div>
        </div>

        <div class="card medium col s12 m6 l3" style="background-color:#e8eaf6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'images/card2.png' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Top 10 Sites<i class="material-icons right">more_vert</i></span>

                <p><a class="waves-effect waves-light btn" href="{% url 'chart-visit' %}" style="background-color:#083A99">See More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Top 10 Sites<i class="material-icons right">close</i></span>
                <p>Visit you most important sites, that keeps you busy for long hours!!</p>
            </div>
        </div>

        <div class="card medium col s12 m6 l3" style="background-color:#e8eaf6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'images/card3.jpeg' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Ads Classification<i class="material-icons right">more_vert</i></span>

                <p><a class="waves-effect waves-light btn" href="{% url 'chart-ad' %}" style="background-color:#083A99">See More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Ads Classification<i class="material-icons right">close</i></span>
                <p>See how your browsing activities will affect the types of advertisements you will get on web!!</p>
            </div>
        </div>

        <div class="card medium col s12 m6 l3" style="background-color:#e8eaf6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'images/card4.jpeg' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Productivity<i class="material-icons right">more_vert</i></span>

                <p><a class="waves-effect waves-light btn" href="{% url 'chart-productive' %}" style="background-color:#083A99">See More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Productivity<i class="material-icons right">close</i></span>
                <p>Find your most productive hours and, separate them for your most important work!!</p>
            </div>
        </div>

        <div class="card medium col s12 m6 l3" style="background-color:#e8eaf6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'images/card2.png' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Pie-Chart<i class="material-icons right">more_vert</i></span>

                <p><a class="waves-effect waves-light btn" href="{% url 'chart-pie' %}" style="background-color:#083A99">See More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Pie-Chart<i class="material-icons right">close</i></span>
                <p>The most used sites have been found out and presented in form of a pie!!</p>
            </div>
        </div>

        <div class="card medium col s12 m6 l3" style="background-color:#e8eaf6">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'images/card2.png' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Bar-Graph<i class="material-icons right">more_vert</i></span>

                <p><a class="waves-effect waves-light btn" href="{% url 'chart-bar' %}" style="background-color:#083A99">See More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Bar-Graph<i class="material-icons right">close</i></span>
                <p>A bar graph to display most viewed sited with their view counts!!</p>
            </div>
        </div>

    </div>

</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="static/js/theme.js"></script>




{% endblock %}
</html>
