{% extends "charts/common.html" %}

{% load static %}
<html>




{% block content %}
    <script src="/static/js/jquery.min_static_page.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min_static_page.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/static/js/theme_static_page.js"></script>

    <script>
        function clickCounter() {
            if (typeof (Storage) !== "undefined") {
                if (localStorage.clickcount) {
                    localStorage.clickcount = (Number(localStorage.clickcount) + 1) % 2;
                } else {
                    localStorage.clickcount = 1;
                }
                if (localStorage.clickcount == 1) {
                    greeting = "Productive";
                } else {
                    greeting = "Not Productive";
                }
                document.getElementById("result").innerHTML = "This Was a " + greeting + " Site";
            } else {
                document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
            }
        }
    </script>

    <p><button onclick="clickCounter()" type="button">Was This Site Productive</button></p>
    <div id="result" style="height:850 width:900" ></div>


{% endblock %}

</html>