{% extends "charts/common.html" %}

{% load static %}
<html>
{% block content %}
    <h3>Most-visited Sites</h3>
    <div style="background-color:#80cbc4">
        <embed src="/static/data/visit.htm" height =350 width = 1280>
        <h4>Pie-Chart</h4>
        <a href="{% url 'chart-pie' %}">Show Plot</a>
        <h4>Bar-Graph</h4>
        <a href="{% url 'chart-bar' %}">Show Plot</a>
    </div>

{% endblock %}

    <script src="/static/js/jquery.min_static_page.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min_static_page.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/static/js/theme_static_page.js"></script>


</html>
